@import "normalize";
@import "grid";

@import "typography";
@import "buttons";
@import "forms";
@import "icons";
@import "shapes";
@import "elements";
@import "utilities";

* {
  box-sizing: border-box;
}

html {
  font-size: 4px;
}
