@import "colors";

/**********************
  Base elements
**********************/

section {
  margin: 0 0 2rem;
  border: none;
}

blockquote {
  border-left: 6px solid black;
  margin: 24px 0;
  padding-left: 18px;
}

hr {
  margin: 4rem 0;
  width: 100%;
  height: 1rem;
  border: 0;
  background-color: $gray-dark;
}

/**********************
  Lists
**********************/

ul {
  padding-left: 4rem;
  list-style: disc outside;

  li {
    margin-bottom: 2rem;
    padding-left: 2rem;
  }
}

ul ol,
ul ul,
ol ul,
ul ol {
  margin: 2rem;

  li {
    margin-bottom: 1rem;
  }
}

ul.list-reset {
  list-style: none;
  padding-left: 0;

  li {
    padding-left: 0;
  }
}

ol {
  list-style: none;
  padding-left: 0;
}

ol > li {
  counter-increment: item;
  margin-left: 0;
  margin-bottom: 1rem;
}

ol > li:before {
  content: counter(item);
  font-weight: 700;
  vertical-align: center;
  display: inline-block;
  width: 6rem;
  text-align: left;
}
