
/**********************
  Width classes
**********************/
  
.w-0 {
  width: 0rem;
}
  
.w-1 {
  width: 1rem;
}
  
.w-2 {
  width: 2rem;
}
  
.w-3 {
  width: 3rem;
}
  
.w-4 {
  width: 4rem;
}
  
.w-5 {
  width: 5rem;
}
  
.w-6 {
  width: 6rem;
}
  
.w-7 {
  width: 7rem;
}
  
.w-8 {
  width: 8rem;
}
  
.w-9 {
  width: 9rem;
}
  
.w-10 {
  width: 10rem;
}
  
.w-11 {
  width: 11rem;
}
  
.w-12 {
  width: 12rem;
}
  
.w-13 {
  width: 13rem;
}
  
.w-14 {
  width: 14rem;
}
  
.w-15 {
  width: 15rem;
}
  
.w-16 {
  width: 16rem;
}
  
.w-17 {
  width: 17rem;
}
  
.w-18 {
  width: 18rem;
}
  
.w-19 {
  width: 19rem;
}
  
.w-20 {
  width: 20rem;
}
  
.w-21 {
  width: 21rem;
}
  
.w-22 {
  width: 22rem;
}
  
.w-23 {
  width: 23rem;
}
  
.w-24 {
  width: 24rem;
}
  
.w-25 {
  width: 25rem;
}
  
.w-26 {
  width: 26rem;
}
  
.w-27 {
  width: 27rem;
}
  
.w-28 {
  width: 28rem;
}
  
.w-29 {
  width: 29rem;
}
  
.w-30 {
  width: 30rem;
}
  
.w-31 {
  width: 31rem;
}
  
.w-32 {
  width: 32rem;
}
  
.w-33 {
  width: 33rem;
}
  
.w-34 {
  width: 34rem;
}
  
.w-35 {
  width: 35rem;
}
  
.w-36 {
  width: 36rem;
}
  
.w-37 {
  width: 37rem;
}
  
.w-38 {
  width: 38rem;
}
  
.w-39 {
  width: 39rem;
}
  
.w-40 {
  width: 40rem;
}
  
.w-41 {
  width: 41rem;
}
  
.w-42 {
  width: 42rem;
}
  
.w-43 {
  width: 43rem;
}
  
.w-44 {
  width: 44rem;
}
  
.w-45 {
  width: 45rem;
}
  
.w-46 {
  width: 46rem;
}
  
.w-47 {
  width: 47rem;
}
  
.w-48 {
  width: 48rem;
}
  
.w-49 {
  width: 49rem;
}
  
.w-50 {
  width: 50rem;
}
  
.w-51 {
  width: 51rem;
}
  
.w-52 {
  width: 52rem;
}
  
.w-53 {
  width: 53rem;
}
  
.w-54 {
  width: 54rem;
}
  
.w-55 {
  width: 55rem;
}
  
.w-56 {
  width: 56rem;
}
  
.w-57 {
  width: 57rem;
}
  
.w-58 {
  width: 58rem;
}
  
.w-59 {
  width: 59rem;
}
  
.w-60 {
  width: 60rem;
}
  
.w-61 {
  width: 61rem;
}
  
.w-62 {
  width: 62rem;
}
  
.w-63 {
  width: 63rem;
}
  
.w-64 {
  width: 64rem;
}
  
.w-65 {
  width: 65rem;
}
  
.w-66 {
  width: 66rem;
}
  
.w-67 {
  width: 67rem;
}
  
.w-68 {
  width: 68rem;
}
  
.w-69 {
  width: 69rem;
}
  
.w-70 {
  width: 70rem;
}
  
.w-71 {
  width: 71rem;
}
  
.w-72 {
  width: 72rem;
}
  
.w-73 {
  width: 73rem;
}
  
.w-74 {
  width: 74rem;
}
  
.w-75 {
  width: 75rem;
}
  
.w-76 {
  width: 76rem;
}
  
.w-77 {
  width: 77rem;
}
  
.w-78 {
  width: 78rem;
}
  
.w-79 {
  width: 79rem;
}
  
.w-80 {
  width: 80rem;
}
  
.w-81 {
  width: 81rem;
}
  
.w-82 {
  width: 82rem;
}
  
.w-83 {
  width: 83rem;
}
  
.w-84 {
  width: 84rem;
}
  
.w-85 {
  width: 85rem;
}
  
.w-86 {
  width: 86rem;
}
  
.w-87 {
  width: 87rem;
}
  
.w-88 {
  width: 88rem;
}
  
.w-89 {
  width: 89rem;
}
  
.w-90 {
  width: 90rem;
}
  
.w-91 {
  width: 91rem;
}
  
.w-92 {
  width: 92rem;
}
  
.w-93 {
  width: 93rem;
}
  
.w-94 {
  width: 94rem;
}
  
.w-95 {
  width: 95rem;
}
  
.w-96 {
  width: 96rem;
}
  
.w-97 {
  width: 97rem;
}
  
.w-98 {
  width: 98rem;
}
  
.w-99 {
  width: 99rem;
}
  
/**********************
  Height classes
**********************/
  
.h-0 {
  height: 0rem;
}
  
.h-1 {
  height: 1rem;
}
  
.h-2 {
  height: 2rem;
}
  
.h-3 {
  height: 3rem;
}
  
.h-4 {
  height: 4rem;
}
  
.h-5 {
  height: 5rem;
}
  
.h-6 {
  height: 6rem;
}
  
.h-7 {
  height: 7rem;
}
  
.h-8 {
  height: 8rem;
}
  
.h-9 {
  height: 9rem;
}
  
.h-10 {
  height: 10rem;
}
  
.h-11 {
  height: 11rem;
}
  
.h-12 {
  height: 12rem;
}
  
.h-13 {
  height: 13rem;
}
  
.h-14 {
  height: 14rem;
}
  
.h-15 {
  height: 15rem;
}
  
.h-16 {
  height: 16rem;
}
  
.h-17 {
  height: 17rem;
}
  
.h-18 {
  height: 18rem;
}
  
.h-19 {
  height: 19rem;
}
  
.h-20 {
  height: 20rem;
}
  
.h-21 {
  height: 21rem;
}
  
.h-22 {
  height: 22rem;
}
  
.h-23 {
  height: 23rem;
}
  
.h-24 {
  height: 24rem;
}
  
.h-25 {
  height: 25rem;
}
  
.h-26 {
  height: 26rem;
}
  
.h-27 {
  height: 27rem;
}
  
.h-28 {
  height: 28rem;
}
  
.h-29 {
  height: 29rem;
}
  
.h-30 {
  height: 30rem;
}
  
.h-31 {
  height: 31rem;
}
  
.h-32 {
  height: 32rem;
}
  
.h-33 {
  height: 33rem;
}
  
.h-34 {
  height: 34rem;
}
  
.h-35 {
  height: 35rem;
}
  
.h-36 {
  height: 36rem;
}
  
.h-37 {
  height: 37rem;
}
  
.h-38 {
  height: 38rem;
}
  
.h-39 {
  height: 39rem;
}
  
.h-40 {
  height: 40rem;
}
  
.h-41 {
  height: 41rem;
}
  
.h-42 {
  height: 42rem;
}
  
.h-43 {
  height: 43rem;
}
  
.h-44 {
  height: 44rem;
}
  
.h-45 {
  height: 45rem;
}
  
.h-46 {
  height: 46rem;
}
  
.h-47 {
  height: 47rem;
}
  
.h-48 {
  height: 48rem;
}
  
.h-49 {
  height: 49rem;
}
  
.h-50 {
  height: 50rem;
}
  
.h-51 {
  height: 51rem;
}
  
.h-52 {
  height: 52rem;
}
  
.h-53 {
  height: 53rem;
}
  
.h-54 {
  height: 54rem;
}
  
.h-55 {
  height: 55rem;
}
  
.h-56 {
  height: 56rem;
}
  
.h-57 {
  height: 57rem;
}
  
.h-58 {
  height: 58rem;
}
  
.h-59 {
  height: 59rem;
}
  
.h-60 {
  height: 60rem;
}
  
.h-61 {
  height: 61rem;
}
  
.h-62 {
  height: 62rem;
}
  
.h-63 {
  height: 63rem;
}
  
.h-64 {
  height: 64rem;
}
  
.h-65 {
  height: 65rem;
}
  
.h-66 {
  height: 66rem;
}
  
.h-67 {
  height: 67rem;
}
  
.h-68 {
  height: 68rem;
}
  
.h-69 {
  height: 69rem;
}
  
.h-70 {
  height: 70rem;
}
  
.h-71 {
  height: 71rem;
}
  
.h-72 {
  height: 72rem;
}
  
.h-73 {
  height: 73rem;
}
  
.h-74 {
  height: 74rem;
}
  
.h-75 {
  height: 75rem;
}
  
.h-76 {
  height: 76rem;
}
  
.h-77 {
  height: 77rem;
}
  
.h-78 {
  height: 78rem;
}
  
.h-79 {
  height: 79rem;
}
  
.h-80 {
  height: 80rem;
}
  
.h-81 {
  height: 81rem;
}
  
.h-82 {
  height: 82rem;
}
  
.h-83 {
  height: 83rem;
}
  
.h-84 {
  height: 84rem;
}
  
.h-85 {
  height: 85rem;
}
  
.h-86 {
  height: 86rem;
}
  
.h-87 {
  height: 87rem;
}
  
.h-88 {
  height: 88rem;
}
  
.h-89 {
  height: 89rem;
}
  
.h-90 {
  height: 90rem;
}
  
.h-91 {
  height: 91rem;
}
  
.h-92 {
  height: 92rem;
}
  
.h-93 {
  height: 93rem;
}
  
.h-94 {
  height: 94rem;
}
  
.h-95 {
  height: 95rem;
}
  
.h-96 {
  height: 96rem;
}
  
.h-97 {
  height: 97rem;
}
  
.h-98 {
  height: 98rem;
}
  
.h-99 {
  height: 99rem;
}
  
/**********************
  Margin classes
**********************/
  
.ml-0 {
  margin-left: 0rem;
}
  
.ml-1 {
  margin-left: 1rem;
}
  
.ml-2 {
  margin-left: 2rem;
}
  
.ml-3 {
  margin-left: 3rem;
}
  
.ml-4 {
  margin-left: 4rem;
}
  
.ml-5 {
  margin-left: 5rem;
}
  
.ml-6 {
  margin-left: 6rem;
}
  
.ml-7 {
  margin-left: 7rem;
}
  
.ml-8 {
  margin-left: 8rem;
}
  
.ml-9 {
  margin-left: 9rem;
}
  
.ml-10 {
  margin-left: 10rem;
}
  
.ml-11 {
  margin-left: 11rem;
}
  
.ml-12 {
  margin-left: 12rem;
}
  
.ml-13 {
  margin-left: 13rem;
}
  
.ml-14 {
  margin-left: 14rem;
}
  
.ml-15 {
  margin-left: 15rem;
}
  
.ml-16 {
  margin-left: 16rem;
}
  
.ml-17 {
  margin-left: 17rem;
}
  
.ml-18 {
  margin-left: 18rem;
}
  
.ml-19 {
  margin-left: 19rem;
}
  
.ml-20 {
  margin-left: 20rem;
}
  
.ml-21 {
  margin-left: 21rem;
}
  
.ml-22 {
  margin-left: 22rem;
}
  
.ml-23 {
  margin-left: 23rem;
}
  
.ml-24 {
  margin-left: 24rem;
}
  
.ml-25 {
  margin-left: 25rem;
}
  
.ml-26 {
  margin-left: 26rem;
}
  
.ml-27 {
  margin-left: 27rem;
}
  
.ml-28 {
  margin-left: 28rem;
}
  
.ml-29 {
  margin-left: 29rem;
}
  
.ml-30 {
  margin-left: 30rem;
}
  
.ml-31 {
  margin-left: 31rem;
}
  
.ml-32 {
  margin-left: 32rem;
}
  
.ml-33 {
  margin-left: 33rem;
}
  
.ml-34 {
  margin-left: 34rem;
}
  
.ml-35 {
  margin-left: 35rem;
}
  
.ml-36 {
  margin-left: 36rem;
}
  
.ml-37 {
  margin-left: 37rem;
}
  
.ml-38 {
  margin-left: 38rem;
}
  
.ml-39 {
  margin-left: 39rem;
}
  
.ml-40 {
  margin-left: 40rem;
}
  
.ml-41 {
  margin-left: 41rem;
}
  
.ml-42 {
  margin-left: 42rem;
}
  
.ml-43 {
  margin-left: 43rem;
}
  
.ml-44 {
  margin-left: 44rem;
}
  
.ml-45 {
  margin-left: 45rem;
}
  
.ml-46 {
  margin-left: 46rem;
}
  
.ml-47 {
  margin-left: 47rem;
}
  
.ml-48 {
  margin-left: 48rem;
}
  
.ml-49 {
  margin-left: 49rem;
}
  
.ml-50 {
  margin-left: 50rem;
}
  
.ml-51 {
  margin-left: 51rem;
}
  
.ml-52 {
  margin-left: 52rem;
}
  
.ml-53 {
  margin-left: 53rem;
}
  
.ml-54 {
  margin-left: 54rem;
}
  
.ml-55 {
  margin-left: 55rem;
}
  
.ml-56 {
  margin-left: 56rem;
}
  
.ml-57 {
  margin-left: 57rem;
}
  
.ml-58 {
  margin-left: 58rem;
}
  
.ml-59 {
  margin-left: 59rem;
}
  
.ml-60 {
  margin-left: 60rem;
}
  
.ml-61 {
  margin-left: 61rem;
}
  
.ml-62 {
  margin-left: 62rem;
}
  
.ml-63 {
  margin-left: 63rem;
}
  
.ml-64 {
  margin-left: 64rem;
}
  
.ml-65 {
  margin-left: 65rem;
}
  
.ml-66 {
  margin-left: 66rem;
}
  
.ml-67 {
  margin-left: 67rem;
}
  
.ml-68 {
  margin-left: 68rem;
}
  
.ml-69 {
  margin-left: 69rem;
}
  
.ml-70 {
  margin-left: 70rem;
}
  
.ml-71 {
  margin-left: 71rem;
}
  
.ml-72 {
  margin-left: 72rem;
}
  
.ml-73 {
  margin-left: 73rem;
}
  
.ml-74 {
  margin-left: 74rem;
}
  
.ml-75 {
  margin-left: 75rem;
}
  
.ml-76 {
  margin-left: 76rem;
}
  
.ml-77 {
  margin-left: 77rem;
}
  
.ml-78 {
  margin-left: 78rem;
}
  
.ml-79 {
  margin-left: 79rem;
}
  
.ml-80 {
  margin-left: 80rem;
}
  
.ml-81 {
  margin-left: 81rem;
}
  
.ml-82 {
  margin-left: 82rem;
}
  
.ml-83 {
  margin-left: 83rem;
}
  
.ml-84 {
  margin-left: 84rem;
}
  
.ml-85 {
  margin-left: 85rem;
}
  
.ml-86 {
  margin-left: 86rem;
}
  
.ml-87 {
  margin-left: 87rem;
}
  
.ml-88 {
  margin-left: 88rem;
}
  
.ml-89 {
  margin-left: 89rem;
}
  
.ml-90 {
  margin-left: 90rem;
}
  
.ml-91 {
  margin-left: 91rem;
}
  
.ml-92 {
  margin-left: 92rem;
}
  
.ml-93 {
  margin-left: 93rem;
}
  
.ml-94 {
  margin-left: 94rem;
}
  
.ml-95 {
  margin-left: 95rem;
}
  
.ml-96 {
  margin-left: 96rem;
}
  
.ml-97 {
  margin-left: 97rem;
}
  
.ml-98 {
  margin-left: 98rem;
}
  
.ml-99 {
  margin-left: 99rem;
}
  
.mr-0 {
  margin-right: 0rem;
}
  
.mr-1 {
  margin-right: 1rem;
}
  
.mr-2 {
  margin-right: 2rem;
}
  
.mr-3 {
  margin-right: 3rem;
}
  
.mr-4 {
  margin-right: 4rem;
}
  
.mr-5 {
  margin-right: 5rem;
}
  
.mr-6 {
  margin-right: 6rem;
}
  
.mr-7 {
  margin-right: 7rem;
}
  
.mr-8 {
  margin-right: 8rem;
}
  
.mr-9 {
  margin-right: 9rem;
}
  
.mr-10 {
  margin-right: 10rem;
}
  
.mr-11 {
  margin-right: 11rem;
}
  
.mr-12 {
  margin-right: 12rem;
}
  
.mr-13 {
  margin-right: 13rem;
}
  
.mr-14 {
  margin-right: 14rem;
}
  
.mr-15 {
  margin-right: 15rem;
}
  
.mr-16 {
  margin-right: 16rem;
}
  
.mr-17 {
  margin-right: 17rem;
}
  
.mr-18 {
  margin-right: 18rem;
}
  
.mr-19 {
  margin-right: 19rem;
}
  
.mr-20 {
  margin-right: 20rem;
}
  
.mr-21 {
  margin-right: 21rem;
}
  
.mr-22 {
  margin-right: 22rem;
}
  
.mr-23 {
  margin-right: 23rem;
}
  
.mr-24 {
  margin-right: 24rem;
}
  
.mr-25 {
  margin-right: 25rem;
}
  
.mr-26 {
  margin-right: 26rem;
}
  
.mr-27 {
  margin-right: 27rem;
}
  
.mr-28 {
  margin-right: 28rem;
}
  
.mr-29 {
  margin-right: 29rem;
}
  
.mr-30 {
  margin-right: 30rem;
}
  
.mr-31 {
  margin-right: 31rem;
}
  
.mr-32 {
  margin-right: 32rem;
}
  
.mr-33 {
  margin-right: 33rem;
}
  
.mr-34 {
  margin-right: 34rem;
}
  
.mr-35 {
  margin-right: 35rem;
}
  
.mr-36 {
  margin-right: 36rem;
}
  
.mr-37 {
  margin-right: 37rem;
}
  
.mr-38 {
  margin-right: 38rem;
}
  
.mr-39 {
  margin-right: 39rem;
}
  
.mr-40 {
  margin-right: 40rem;
}
  
.mr-41 {
  margin-right: 41rem;
}
  
.mr-42 {
  margin-right: 42rem;
}
  
.mr-43 {
  margin-right: 43rem;
}
  
.mr-44 {
  margin-right: 44rem;
}
  
.mr-45 {
  margin-right: 45rem;
}
  
.mr-46 {
  margin-right: 46rem;
}
  
.mr-47 {
  margin-right: 47rem;
}
  
.mr-48 {
  margin-right: 48rem;
}
  
.mr-49 {
  margin-right: 49rem;
}
  
.mr-50 {
  margin-right: 50rem;
}
  
.mr-51 {
  margin-right: 51rem;
}
  
.mr-52 {
  margin-right: 52rem;
}
  
.mr-53 {
  margin-right: 53rem;
}
  
.mr-54 {
  margin-right: 54rem;
}
  
.mr-55 {
  margin-right: 55rem;
}
  
.mr-56 {
  margin-right: 56rem;
}
  
.mr-57 {
  margin-right: 57rem;
}
  
.mr-58 {
  margin-right: 58rem;
}
  
.mr-59 {
  margin-right: 59rem;
}
  
.mr-60 {
  margin-right: 60rem;
}
  
.mr-61 {
  margin-right: 61rem;
}
  
.mr-62 {
  margin-right: 62rem;
}
  
.mr-63 {
  margin-right: 63rem;
}
  
.mr-64 {
  margin-right: 64rem;
}
  
.mr-65 {
  margin-right: 65rem;
}
  
.mr-66 {
  margin-right: 66rem;
}
  
.mr-67 {
  margin-right: 67rem;
}
  
.mr-68 {
  margin-right: 68rem;
}
  
.mr-69 {
  margin-right: 69rem;
}
  
.mr-70 {
  margin-right: 70rem;
}
  
.mr-71 {
  margin-right: 71rem;
}
  
.mr-72 {
  margin-right: 72rem;
}
  
.mr-73 {
  margin-right: 73rem;
}
  
.mr-74 {
  margin-right: 74rem;
}
  
.mr-75 {
  margin-right: 75rem;
}
  
.mr-76 {
  margin-right: 76rem;
}
  
.mr-77 {
  margin-right: 77rem;
}
  
.mr-78 {
  margin-right: 78rem;
}
  
.mr-79 {
  margin-right: 79rem;
}
  
.mr-80 {
  margin-right: 80rem;
}
  
.mr-81 {
  margin-right: 81rem;
}
  
.mr-82 {
  margin-right: 82rem;
}
  
.mr-83 {
  margin-right: 83rem;
}
  
.mr-84 {
  margin-right: 84rem;
}
  
.mr-85 {
  margin-right: 85rem;
}
  
.mr-86 {
  margin-right: 86rem;
}
  
.mr-87 {
  margin-right: 87rem;
}
  
.mr-88 {
  margin-right: 88rem;
}
  
.mr-89 {
  margin-right: 89rem;
}
  
.mr-90 {
  margin-right: 90rem;
}
  
.mr-91 {
  margin-right: 91rem;
}
  
.mr-92 {
  margin-right: 92rem;
}
  
.mr-93 {
  margin-right: 93rem;
}
  
.mr-94 {
  margin-right: 94rem;
}
  
.mr-95 {
  margin-right: 95rem;
}
  
.mr-96 {
  margin-right: 96rem;
}
  
.mr-97 {
  margin-right: 97rem;
}
  
.mr-98 {
  margin-right: 98rem;
}
  
.mr-99 {
  margin-right: 99rem;
}
  
.mt-0 {
  margin-top: 0rem;
}
  
.mt-1 {
  margin-top: 1rem;
}
  
.mt-2 {
  margin-top: 2rem;
}
  
.mt-3 {
  margin-top: 3rem;
}
  
.mt-4 {
  margin-top: 4rem;
}
  
.mt-5 {
  margin-top: 5rem;
}
  
.mt-6 {
  margin-top: 6rem;
}
  
.mt-7 {
  margin-top: 7rem;
}
  
.mt-8 {
  margin-top: 8rem;
}
  
.mt-9 {
  margin-top: 9rem;
}
  
.mt-10 {
  margin-top: 10rem;
}
  
.mt-11 {
  margin-top: 11rem;
}
  
.mt-12 {
  margin-top: 12rem;
}
  
.mt-13 {
  margin-top: 13rem;
}
  
.mt-14 {
  margin-top: 14rem;
}
  
.mt-15 {
  margin-top: 15rem;
}
  
.mt-16 {
  margin-top: 16rem;
}
  
.mt-17 {
  margin-top: 17rem;
}
  
.mt-18 {
  margin-top: 18rem;
}
  
.mt-19 {
  margin-top: 19rem;
}
  
.mt-20 {
  margin-top: 20rem;
}
  
.mt-21 {
  margin-top: 21rem;
}
  
.mt-22 {
  margin-top: 22rem;
}
  
.mt-23 {
  margin-top: 23rem;
}
  
.mt-24 {
  margin-top: 24rem;
}
  
.mt-25 {
  margin-top: 25rem;
}
  
.mt-26 {
  margin-top: 26rem;
}
  
.mt-27 {
  margin-top: 27rem;
}
  
.mt-28 {
  margin-top: 28rem;
}
  
.mt-29 {
  margin-top: 29rem;
}
  
.mt-30 {
  margin-top: 30rem;
}
  
.mt-31 {
  margin-top: 31rem;
}
  
.mt-32 {
  margin-top: 32rem;
}
  
.mt-33 {
  margin-top: 33rem;
}
  
.mt-34 {
  margin-top: 34rem;
}
  
.mt-35 {
  margin-top: 35rem;
}
  
.mt-36 {
  margin-top: 36rem;
}
  
.mt-37 {
  margin-top: 37rem;
}
  
.mt-38 {
  margin-top: 38rem;
}
  
.mt-39 {
  margin-top: 39rem;
}
  
.mt-40 {
  margin-top: 40rem;
}
  
.mt-41 {
  margin-top: 41rem;
}
  
.mt-42 {
  margin-top: 42rem;
}
  
.mt-43 {
  margin-top: 43rem;
}
  
.mt-44 {
  margin-top: 44rem;
}
  
.mt-45 {
  margin-top: 45rem;
}
  
.mt-46 {
  margin-top: 46rem;
}
  
.mt-47 {
  margin-top: 47rem;
}
  
.mt-48 {
  margin-top: 48rem;
}
  
.mt-49 {
  margin-top: 49rem;
}
  
.mt-50 {
  margin-top: 50rem;
}
  
.mt-51 {
  margin-top: 51rem;
}
  
.mt-52 {
  margin-top: 52rem;
}
  
.mt-53 {
  margin-top: 53rem;
}
  
.mt-54 {
  margin-top: 54rem;
}
  
.mt-55 {
  margin-top: 55rem;
}
  
.mt-56 {
  margin-top: 56rem;
}
  
.mt-57 {
  margin-top: 57rem;
}
  
.mt-58 {
  margin-top: 58rem;
}
  
.mt-59 {
  margin-top: 59rem;
}
  
.mt-60 {
  margin-top: 60rem;
}
  
.mt-61 {
  margin-top: 61rem;
}
  
.mt-62 {
  margin-top: 62rem;
}
  
.mt-63 {
  margin-top: 63rem;
}
  
.mt-64 {
  margin-top: 64rem;
}
  
.mt-65 {
  margin-top: 65rem;
}
  
.mt-66 {
  margin-top: 66rem;
}
  
.mt-67 {
  margin-top: 67rem;
}
  
.mt-68 {
  margin-top: 68rem;
}
  
.mt-69 {
  margin-top: 69rem;
}
  
.mt-70 {
  margin-top: 70rem;
}
  
.mt-71 {
  margin-top: 71rem;
}
  
.mt-72 {
  margin-top: 72rem;
}
  
.mt-73 {
  margin-top: 73rem;
}
  
.mt-74 {
  margin-top: 74rem;
}
  
.mt-75 {
  margin-top: 75rem;
}
  
.mt-76 {
  margin-top: 76rem;
}
  
.mt-77 {
  margin-top: 77rem;
}
  
.mt-78 {
  margin-top: 78rem;
}
  
.mt-79 {
  margin-top: 79rem;
}
  
.mt-80 {
  margin-top: 80rem;
}
  
.mt-81 {
  margin-top: 81rem;
}
  
.mt-82 {
  margin-top: 82rem;
}
  
.mt-83 {
  margin-top: 83rem;
}
  
.mt-84 {
  margin-top: 84rem;
}
  
.mt-85 {
  margin-top: 85rem;
}
  
.mt-86 {
  margin-top: 86rem;
}
  
.mt-87 {
  margin-top: 87rem;
}
  
.mt-88 {
  margin-top: 88rem;
}
  
.mt-89 {
  margin-top: 89rem;
}
  
.mt-90 {
  margin-top: 90rem;
}
  
.mt-91 {
  margin-top: 91rem;
}
  
.mt-92 {
  margin-top: 92rem;
}
  
.mt-93 {
  margin-top: 93rem;
}
  
.mt-94 {
  margin-top: 94rem;
}
  
.mt-95 {
  margin-top: 95rem;
}
  
.mt-96 {
  margin-top: 96rem;
}
  
.mt-97 {
  margin-top: 97rem;
}
  
.mt-98 {
  margin-top: 98rem;
}
  
.mt-99 {
  margin-top: 99rem;
}
  
.mb-0 {
  margin-bottom: 0rem;
}
  
.mb-1 {
  margin-bottom: 1rem;
}
  
.mb-2 {
  margin-bottom: 2rem;
}
  
.mb-3 {
  margin-bottom: 3rem;
}
  
.mb-4 {
  margin-bottom: 4rem;
}
  
.mb-5 {
  margin-bottom: 5rem;
}
  
.mb-6 {
  margin-bottom: 6rem;
}
  
.mb-7 {
  margin-bottom: 7rem;
}
  
.mb-8 {
  margin-bottom: 8rem;
}
  
.mb-9 {
  margin-bottom: 9rem;
}
  
.mb-10 {
  margin-bottom: 10rem;
}
  
.mb-11 {
  margin-bottom: 11rem;
}
  
.mb-12 {
  margin-bottom: 12rem;
}
  
.mb-13 {
  margin-bottom: 13rem;
}
  
.mb-14 {
  margin-bottom: 14rem;
}
  
.mb-15 {
  margin-bottom: 15rem;
}
  
.mb-16 {
  margin-bottom: 16rem;
}
  
.mb-17 {
  margin-bottom: 17rem;
}
  
.mb-18 {
  margin-bottom: 18rem;
}
  
.mb-19 {
  margin-bottom: 19rem;
}
  
.mb-20 {
  margin-bottom: 20rem;
}
  
.mb-21 {
  margin-bottom: 21rem;
}
  
.mb-22 {
  margin-bottom: 22rem;
}
  
.mb-23 {
  margin-bottom: 23rem;
}
  
.mb-24 {
  margin-bottom: 24rem;
}
  
.mb-25 {
  margin-bottom: 25rem;
}
  
.mb-26 {
  margin-bottom: 26rem;
}
  
.mb-27 {
  margin-bottom: 27rem;
}
  
.mb-28 {
  margin-bottom: 28rem;
}
  
.mb-29 {
  margin-bottom: 29rem;
}
  
.mb-30 {
  margin-bottom: 30rem;
}
  
.mb-31 {
  margin-bottom: 31rem;
}
  
.mb-32 {
  margin-bottom: 32rem;
}
  
.mb-33 {
  margin-bottom: 33rem;
}
  
.mb-34 {
  margin-bottom: 34rem;
}
  
.mb-35 {
  margin-bottom: 35rem;
}
  
.mb-36 {
  margin-bottom: 36rem;
}
  
.mb-37 {
  margin-bottom: 37rem;
}
  
.mb-38 {
  margin-bottom: 38rem;
}
  
.mb-39 {
  margin-bottom: 39rem;
}
  
.mb-40 {
  margin-bottom: 40rem;
}
  
.mb-41 {
  margin-bottom: 41rem;
}
  
.mb-42 {
  margin-bottom: 42rem;
}
  
.mb-43 {
  margin-bottom: 43rem;
}
  
.mb-44 {
  margin-bottom: 44rem;
}
  
.mb-45 {
  margin-bottom: 45rem;
}
  
.mb-46 {
  margin-bottom: 46rem;
}
  
.mb-47 {
  margin-bottom: 47rem;
}
  
.mb-48 {
  margin-bottom: 48rem;
}
  
.mb-49 {
  margin-bottom: 49rem;
}
  
.mb-50 {
  margin-bottom: 50rem;
}
  
.mb-51 {
  margin-bottom: 51rem;
}
  
.mb-52 {
  margin-bottom: 52rem;
}
  
.mb-53 {
  margin-bottom: 53rem;
}
  
.mb-54 {
  margin-bottom: 54rem;
}
  
.mb-55 {
  margin-bottom: 55rem;
}
  
.mb-56 {
  margin-bottom: 56rem;
}
  
.mb-57 {
  margin-bottom: 57rem;
}
  
.mb-58 {
  margin-bottom: 58rem;
}
  
.mb-59 {
  margin-bottom: 59rem;
}
  
.mb-60 {
  margin-bottom: 60rem;
}
  
.mb-61 {
  margin-bottom: 61rem;
}
  
.mb-62 {
  margin-bottom: 62rem;
}
  
.mb-63 {
  margin-bottom: 63rem;
}
  
.mb-64 {
  margin-bottom: 64rem;
}
  
.mb-65 {
  margin-bottom: 65rem;
}
  
.mb-66 {
  margin-bottom: 66rem;
}
  
.mb-67 {
  margin-bottom: 67rem;
}
  
.mb-68 {
  margin-bottom: 68rem;
}
  
.mb-69 {
  margin-bottom: 69rem;
}
  
.mb-70 {
  margin-bottom: 70rem;
}
  
.mb-71 {
  margin-bottom: 71rem;
}
  
.mb-72 {
  margin-bottom: 72rem;
}
  
.mb-73 {
  margin-bottom: 73rem;
}
  
.mb-74 {
  margin-bottom: 74rem;
}
  
.mb-75 {
  margin-bottom: 75rem;
}
  
.mb-76 {
  margin-bottom: 76rem;
}
  
.mb-77 {
  margin-bottom: 77rem;
}
  
.mb-78 {
  margin-bottom: 78rem;
}
  
.mb-79 {
  margin-bottom: 79rem;
}
  
.mb-80 {
  margin-bottom: 80rem;
}
  
.mb-81 {
  margin-bottom: 81rem;
}
  
.mb-82 {
  margin-bottom: 82rem;
}
  
.mb-83 {
  margin-bottom: 83rem;
}
  
.mb-84 {
  margin-bottom: 84rem;
}
  
.mb-85 {
  margin-bottom: 85rem;
}
  
.mb-86 {
  margin-bottom: 86rem;
}
  
.mb-87 {
  margin-bottom: 87rem;
}
  
.mb-88 {
  margin-bottom: 88rem;
}
  
.mb-89 {
  margin-bottom: 89rem;
}
  
.mb-90 {
  margin-bottom: 90rem;
}
  
.mb-91 {
  margin-bottom: 91rem;
}
  
.mb-92 {
  margin-bottom: 92rem;
}
  
.mb-93 {
  margin-bottom: 93rem;
}
  
.mb-94 {
  margin-bottom: 94rem;
}
  
.mb-95 {
  margin-bottom: 95rem;
}
  
.mb-96 {
  margin-bottom: 96rem;
}
  
.mb-97 {
  margin-bottom: 97rem;
}
  
.mb-98 {
  margin-bottom: 98rem;
}
  
.mb-99 {
  margin-bottom: 99rem;
}
  
/**********************
  Padding classes
**********************/
  
.pl-0 {
  padding-left: 0rem;
}
  
.pl-1 {
  padding-left: 1rem;
}
  
.pl-2 {
  padding-left: 2rem;
}
  
.pl-3 {
  padding-left: 3rem;
}
  
.pl-4 {
  padding-left: 4rem;
}
  
.pl-5 {
  padding-left: 5rem;
}
  
.pl-6 {
  padding-left: 6rem;
}
  
.pl-7 {
  padding-left: 7rem;
}
  
.pl-8 {
  padding-left: 8rem;
}
  
.pl-9 {
  padding-left: 9rem;
}
  
.pl-10 {
  padding-left: 10rem;
}
  
.pl-11 {
  padding-left: 11rem;
}
  
.pl-12 {
  padding-left: 12rem;
}
  
.pl-13 {
  padding-left: 13rem;
}
  
.pl-14 {
  padding-left: 14rem;
}
  
.pl-15 {
  padding-left: 15rem;
}
  
.pl-16 {
  padding-left: 16rem;
}
  
.pl-17 {
  padding-left: 17rem;
}
  
.pl-18 {
  padding-left: 18rem;
}
  
.pl-19 {
  padding-left: 19rem;
}
  
.pl-20 {
  padding-left: 20rem;
}
  
.pl-21 {
  padding-left: 21rem;
}
  
.pl-22 {
  padding-left: 22rem;
}
  
.pl-23 {
  padding-left: 23rem;
}
  
.pl-24 {
  padding-left: 24rem;
}
  
.pl-25 {
  padding-left: 25rem;
}
  
.pl-26 {
  padding-left: 26rem;
}
  
.pl-27 {
  padding-left: 27rem;
}
  
.pl-28 {
  padding-left: 28rem;
}
  
.pl-29 {
  padding-left: 29rem;
}
  
.pl-30 {
  padding-left: 30rem;
}
  
.pl-31 {
  padding-left: 31rem;
}
  
.pl-32 {
  padding-left: 32rem;
}
  
.pl-33 {
  padding-left: 33rem;
}
  
.pl-34 {
  padding-left: 34rem;
}
  
.pl-35 {
  padding-left: 35rem;
}
  
.pl-36 {
  padding-left: 36rem;
}
  
.pl-37 {
  padding-left: 37rem;
}
  
.pl-38 {
  padding-left: 38rem;
}
  
.pl-39 {
  padding-left: 39rem;
}
  
.pl-40 {
  padding-left: 40rem;
}
  
.pl-41 {
  padding-left: 41rem;
}
  
.pl-42 {
  padding-left: 42rem;
}
  
.pl-43 {
  padding-left: 43rem;
}
  
.pl-44 {
  padding-left: 44rem;
}
  
.pl-45 {
  padding-left: 45rem;
}
  
.pl-46 {
  padding-left: 46rem;
}
  
.pl-47 {
  padding-left: 47rem;
}
  
.pl-48 {
  padding-left: 48rem;
}
  
.pl-49 {
  padding-left: 49rem;
}
  
.pl-50 {
  padding-left: 50rem;
}
  
.pl-51 {
  padding-left: 51rem;
}
  
.pl-52 {
  padding-left: 52rem;
}
  
.pl-53 {
  padding-left: 53rem;
}
  
.pl-54 {
  padding-left: 54rem;
}
  
.pl-55 {
  padding-left: 55rem;
}
  
.pl-56 {
  padding-left: 56rem;
}
  
.pl-57 {
  padding-left: 57rem;
}
  
.pl-58 {
  padding-left: 58rem;
}
  
.pl-59 {
  padding-left: 59rem;
}
  
.pl-60 {
  padding-left: 60rem;
}
  
.pl-61 {
  padding-left: 61rem;
}
  
.pl-62 {
  padding-left: 62rem;
}
  
.pl-63 {
  padding-left: 63rem;
}
  
.pl-64 {
  padding-left: 64rem;
}
  
.pl-65 {
  padding-left: 65rem;
}
  
.pl-66 {
  padding-left: 66rem;
}
  
.pl-67 {
  padding-left: 67rem;
}
  
.pl-68 {
  padding-left: 68rem;
}
  
.pl-69 {
  padding-left: 69rem;
}
  
.pl-70 {
  padding-left: 70rem;
}
  
.pl-71 {
  padding-left: 71rem;
}
  
.pl-72 {
  padding-left: 72rem;
}
  
.pl-73 {
  padding-left: 73rem;
}
  
.pl-74 {
  padding-left: 74rem;
}
  
.pl-75 {
  padding-left: 75rem;
}
  
.pl-76 {
  padding-left: 76rem;
}
  
.pl-77 {
  padding-left: 77rem;
}
  
.pl-78 {
  padding-left: 78rem;
}
  
.pl-79 {
  padding-left: 79rem;
}
  
.pl-80 {
  padding-left: 80rem;
}
  
.pl-81 {
  padding-left: 81rem;
}
  
.pl-82 {
  padding-left: 82rem;
}
  
.pl-83 {
  padding-left: 83rem;
}
  
.pl-84 {
  padding-left: 84rem;
}
  
.pl-85 {
  padding-left: 85rem;
}
  
.pl-86 {
  padding-left: 86rem;
}
  
.pl-87 {
  padding-left: 87rem;
}
  
.pl-88 {
  padding-left: 88rem;
}
  
.pl-89 {
  padding-left: 89rem;
}
  
.pl-90 {
  padding-left: 90rem;
}
  
.pl-91 {
  padding-left: 91rem;
}
  
.pl-92 {
  padding-left: 92rem;
}
  
.pl-93 {
  padding-left: 93rem;
}
  
.pl-94 {
  padding-left: 94rem;
}
  
.pl-95 {
  padding-left: 95rem;
}
  
.pl-96 {
  padding-left: 96rem;
}
  
.pl-97 {
  padding-left: 97rem;
}
  
.pl-98 {
  padding-left: 98rem;
}
  
.pl-99 {
  padding-left: 99rem;
}
  
.pr-0 {
  padding-right: 0rem;
}
  
.pr-1 {
  padding-right: 1rem;
}
  
.pr-2 {
  padding-right: 2rem;
}
  
.pr-3 {
  padding-right: 3rem;
}
  
.pr-4 {
  padding-right: 4rem;
}
  
.pr-5 {
  padding-right: 5rem;
}
  
.pr-6 {
  padding-right: 6rem;
}
  
.pr-7 {
  padding-right: 7rem;
}
  
.pr-8 {
  padding-right: 8rem;
}
  
.pr-9 {
  padding-right: 9rem;
}
  
.pr-10 {
  padding-right: 10rem;
}
  
.pr-11 {
  padding-right: 11rem;
}
  
.pr-12 {
  padding-right: 12rem;
}
  
.pr-13 {
  padding-right: 13rem;
}
  
.pr-14 {
  padding-right: 14rem;
}
  
.pr-15 {
  padding-right: 15rem;
}
  
.pr-16 {
  padding-right: 16rem;
}
  
.pr-17 {
  padding-right: 17rem;
}
  
.pr-18 {
  padding-right: 18rem;
}
  
.pr-19 {
  padding-right: 19rem;
}
  
.pr-20 {
  padding-right: 20rem;
}
  
.pr-21 {
  padding-right: 21rem;
}
  
.pr-22 {
  padding-right: 22rem;
}
  
.pr-23 {
  padding-right: 23rem;
}
  
.pr-24 {
  padding-right: 24rem;
}
  
.pr-25 {
  padding-right: 25rem;
}
  
.pr-26 {
  padding-right: 26rem;
}
  
.pr-27 {
  padding-right: 27rem;
}
  
.pr-28 {
  padding-right: 28rem;
}
  
.pr-29 {
  padding-right: 29rem;
}
  
.pr-30 {
  padding-right: 30rem;
}
  
.pr-31 {
  padding-right: 31rem;
}
  
.pr-32 {
  padding-right: 32rem;
}
  
.pr-33 {
  padding-right: 33rem;
}
  
.pr-34 {
  padding-right: 34rem;
}
  
.pr-35 {
  padding-right: 35rem;
}
  
.pr-36 {
  padding-right: 36rem;
}
  
.pr-37 {
  padding-right: 37rem;
}
  
.pr-38 {
  padding-right: 38rem;
}
  
.pr-39 {
  padding-right: 39rem;
}
  
.pr-40 {
  padding-right: 40rem;
}
  
.pr-41 {
  padding-right: 41rem;
}
  
.pr-42 {
  padding-right: 42rem;
}
  
.pr-43 {
  padding-right: 43rem;
}
  
.pr-44 {
  padding-right: 44rem;
}
  
.pr-45 {
  padding-right: 45rem;
}
  
.pr-46 {
  padding-right: 46rem;
}
  
.pr-47 {
  padding-right: 47rem;
}
  
.pr-48 {
  padding-right: 48rem;
}
  
.pr-49 {
  padding-right: 49rem;
}
  
.pr-50 {
  padding-right: 50rem;
}
  
.pr-51 {
  padding-right: 51rem;
}
  
.pr-52 {
  padding-right: 52rem;
}
  
.pr-53 {
  padding-right: 53rem;
}
  
.pr-54 {
  padding-right: 54rem;
}
  
.pr-55 {
  padding-right: 55rem;
}
  
.pr-56 {
  padding-right: 56rem;
}
  
.pr-57 {
  padding-right: 57rem;
}
  
.pr-58 {
  padding-right: 58rem;
}
  
.pr-59 {
  padding-right: 59rem;
}
  
.pr-60 {
  padding-right: 60rem;
}
  
.pr-61 {
  padding-right: 61rem;
}
  
.pr-62 {
  padding-right: 62rem;
}
  
.pr-63 {
  padding-right: 63rem;
}
  
.pr-64 {
  padding-right: 64rem;
}
  
.pr-65 {
  padding-right: 65rem;
}
  
.pr-66 {
  padding-right: 66rem;
}
  
.pr-67 {
  padding-right: 67rem;
}
  
.pr-68 {
  padding-right: 68rem;
}
  
.pr-69 {
  padding-right: 69rem;
}
  
.pr-70 {
  padding-right: 70rem;
}
  
.pr-71 {
  padding-right: 71rem;
}
  
.pr-72 {
  padding-right: 72rem;
}
  
.pr-73 {
  padding-right: 73rem;
}
  
.pr-74 {
  padding-right: 74rem;
}
  
.pr-75 {
  padding-right: 75rem;
}
  
.pr-76 {
  padding-right: 76rem;
}
  
.pr-77 {
  padding-right: 77rem;
}
  
.pr-78 {
  padding-right: 78rem;
}
  
.pr-79 {
  padding-right: 79rem;
}
  
.pr-80 {
  padding-right: 80rem;
}
  
.pr-81 {
  padding-right: 81rem;
}
  
.pr-82 {
  padding-right: 82rem;
}
  
.pr-83 {
  padding-right: 83rem;
}
  
.pr-84 {
  padding-right: 84rem;
}
  
.pr-85 {
  padding-right: 85rem;
}
  
.pr-86 {
  padding-right: 86rem;
}
  
.pr-87 {
  padding-right: 87rem;
}
  
.pr-88 {
  padding-right: 88rem;
}
  
.pr-89 {
  padding-right: 89rem;
}
  
.pr-90 {
  padding-right: 90rem;
}
  
.pr-91 {
  padding-right: 91rem;
}
  
.pr-92 {
  padding-right: 92rem;
}
  
.pr-93 {
  padding-right: 93rem;
}
  
.pr-94 {
  padding-right: 94rem;
}
  
.pr-95 {
  padding-right: 95rem;
}
  
.pr-96 {
  padding-right: 96rem;
}
  
.pr-97 {
  padding-right: 97rem;
}
  
.pr-98 {
  padding-right: 98rem;
}
  
.pr-99 {
  padding-right: 99rem;
}
  
.pt-0 {
  padding-top: 0rem;
}
  
.pt-1 {
  padding-top: 1rem;
}
  
.pt-2 {
  padding-top: 2rem;
}
  
.pt-3 {
  padding-top: 3rem;
}
  
.pt-4 {
  padding-top: 4rem;
}
  
.pt-5 {
  padding-top: 5rem;
}
  
.pt-6 {
  padding-top: 6rem;
}
  
.pt-7 {
  padding-top: 7rem;
}
  
.pt-8 {
  padding-top: 8rem;
}
  
.pt-9 {
  padding-top: 9rem;
}
  
.pt-10 {
  padding-top: 10rem;
}
  
.pt-11 {
  padding-top: 11rem;
}
  
.pt-12 {
  padding-top: 12rem;
}
  
.pt-13 {
  padding-top: 13rem;
}
  
.pt-14 {
  padding-top: 14rem;
}
  
.pt-15 {
  padding-top: 15rem;
}
  
.pt-16 {
  padding-top: 16rem;
}
  
.pt-17 {
  padding-top: 17rem;
}
  
.pt-18 {
  padding-top: 18rem;
}
  
.pt-19 {
  padding-top: 19rem;
}
  
.pt-20 {
  padding-top: 20rem;
}
  
.pt-21 {
  padding-top: 21rem;
}
  
.pt-22 {
  padding-top: 22rem;
}
  
.pt-23 {
  padding-top: 23rem;
}
  
.pt-24 {
  padding-top: 24rem;
}
  
.pt-25 {
  padding-top: 25rem;
}
  
.pt-26 {
  padding-top: 26rem;
}
  
.pt-27 {
  padding-top: 27rem;
}
  
.pt-28 {
  padding-top: 28rem;
}
  
.pt-29 {
  padding-top: 29rem;
}
  
.pt-30 {
  padding-top: 30rem;
}
  
.pt-31 {
  padding-top: 31rem;
}
  
.pt-32 {
  padding-top: 32rem;
}
  
.pt-33 {
  padding-top: 33rem;
}
  
.pt-34 {
  padding-top: 34rem;
}
  
.pt-35 {
  padding-top: 35rem;
}
  
.pt-36 {
  padding-top: 36rem;
}
  
.pt-37 {
  padding-top: 37rem;
}
  
.pt-38 {
  padding-top: 38rem;
}
  
.pt-39 {
  padding-top: 39rem;
}
  
.pt-40 {
  padding-top: 40rem;
}
  
.pt-41 {
  padding-top: 41rem;
}
  
.pt-42 {
  padding-top: 42rem;
}
  
.pt-43 {
  padding-top: 43rem;
}
  
.pt-44 {
  padding-top: 44rem;
}
  
.pt-45 {
  padding-top: 45rem;
}
  
.pt-46 {
  padding-top: 46rem;
}
  
.pt-47 {
  padding-top: 47rem;
}
  
.pt-48 {
  padding-top: 48rem;
}
  
.pt-49 {
  padding-top: 49rem;
}
  
.pt-50 {
  padding-top: 50rem;
}
  
.pt-51 {
  padding-top: 51rem;
}
  
.pt-52 {
  padding-top: 52rem;
}
  
.pt-53 {
  padding-top: 53rem;
}
  
.pt-54 {
  padding-top: 54rem;
}
  
.pt-55 {
  padding-top: 55rem;
}
  
.pt-56 {
  padding-top: 56rem;
}
  
.pt-57 {
  padding-top: 57rem;
}
  
.pt-58 {
  padding-top: 58rem;
}
  
.pt-59 {
  padding-top: 59rem;
}
  
.pt-60 {
  padding-top: 60rem;
}
  
.pt-61 {
  padding-top: 61rem;
}
  
.pt-62 {
  padding-top: 62rem;
}
  
.pt-63 {
  padding-top: 63rem;
}
  
.pt-64 {
  padding-top: 64rem;
}
  
.pt-65 {
  padding-top: 65rem;
}
  
.pt-66 {
  padding-top: 66rem;
}
  
.pt-67 {
  padding-top: 67rem;
}
  
.pt-68 {
  padding-top: 68rem;
}
  
.pt-69 {
  padding-top: 69rem;
}
  
.pt-70 {
  padding-top: 70rem;
}
  
.pt-71 {
  padding-top: 71rem;
}
  
.pt-72 {
  padding-top: 72rem;
}
  
.pt-73 {
  padding-top: 73rem;
}
  
.pt-74 {
  padding-top: 74rem;
}
  
.pt-75 {
  padding-top: 75rem;
}
  
.pt-76 {
  padding-top: 76rem;
}
  
.pt-77 {
  padding-top: 77rem;
}
  
.pt-78 {
  padding-top: 78rem;
}
  
.pt-79 {
  padding-top: 79rem;
}
  
.pt-80 {
  padding-top: 80rem;
}
  
.pt-81 {
  padding-top: 81rem;
}
  
.pt-82 {
  padding-top: 82rem;
}
  
.pt-83 {
  padding-top: 83rem;
}
  
.pt-84 {
  padding-top: 84rem;
}
  
.pt-85 {
  padding-top: 85rem;
}
  
.pt-86 {
  padding-top: 86rem;
}
  
.pt-87 {
  padding-top: 87rem;
}
  
.pt-88 {
  padding-top: 88rem;
}
  
.pt-89 {
  padding-top: 89rem;
}
  
.pt-90 {
  padding-top: 90rem;
}
  
.pt-91 {
  padding-top: 91rem;
}
  
.pt-92 {
  padding-top: 92rem;
}
  
.pt-93 {
  padding-top: 93rem;
}
  
.pt-94 {
  padding-top: 94rem;
}
  
.pt-95 {
  padding-top: 95rem;
}
  
.pt-96 {
  padding-top: 96rem;
}
  
.pt-97 {
  padding-top: 97rem;
}
  
.pt-98 {
  padding-top: 98rem;
}
  
.pt-99 {
  padding-top: 99rem;
}
  
.pb-0 {
  padding-bottom: 0rem;
}
  
.pb-1 {
  padding-bottom: 1rem;
}
  
.pb-2 {
  padding-bottom: 2rem;
}
  
.pb-3 {
  padding-bottom: 3rem;
}
  
.pb-4 {
  padding-bottom: 4rem;
}
  
.pb-5 {
  padding-bottom: 5rem;
}
  
.pb-6 {
  padding-bottom: 6rem;
}
  
.pb-7 {
  padding-bottom: 7rem;
}
  
.pb-8 {
  padding-bottom: 8rem;
}
  
.pb-9 {
  padding-bottom: 9rem;
}
  
.pb-10 {
  padding-bottom: 10rem;
}
  
.pb-11 {
  padding-bottom: 11rem;
}
  
.pb-12 {
  padding-bottom: 12rem;
}
  
.pb-13 {
  padding-bottom: 13rem;
}
  
.pb-14 {
  padding-bottom: 14rem;
}
  
.pb-15 {
  padding-bottom: 15rem;
}
  
.pb-16 {
  padding-bottom: 16rem;
}
  
.pb-17 {
  padding-bottom: 17rem;
}
  
.pb-18 {
  padding-bottom: 18rem;
}
  
.pb-19 {
  padding-bottom: 19rem;
}
  
.pb-20 {
  padding-bottom: 20rem;
}
  
.pb-21 {
  padding-bottom: 21rem;
}
  
.pb-22 {
  padding-bottom: 22rem;
}
  
.pb-23 {
  padding-bottom: 23rem;
}
  
.pb-24 {
  padding-bottom: 24rem;
}
  
.pb-25 {
  padding-bottom: 25rem;
}
  
.pb-26 {
  padding-bottom: 26rem;
}
  
.pb-27 {
  padding-bottom: 27rem;
}
  
.pb-28 {
  padding-bottom: 28rem;
}
  
.pb-29 {
  padding-bottom: 29rem;
}
  
.pb-30 {
  padding-bottom: 30rem;
}
  
.pb-31 {
  padding-bottom: 31rem;
}
  
.pb-32 {
  padding-bottom: 32rem;
}
  
.pb-33 {
  padding-bottom: 33rem;
}
  
.pb-34 {
  padding-bottom: 34rem;
}
  
.pb-35 {
  padding-bottom: 35rem;
}
  
.pb-36 {
  padding-bottom: 36rem;
}
  
.pb-37 {
  padding-bottom: 37rem;
}
  
.pb-38 {
  padding-bottom: 38rem;
}
  
.pb-39 {
  padding-bottom: 39rem;
}
  
.pb-40 {
  padding-bottom: 40rem;
}
  
.pb-41 {
  padding-bottom: 41rem;
}
  
.pb-42 {
  padding-bottom: 42rem;
}
  
.pb-43 {
  padding-bottom: 43rem;
}
  
.pb-44 {
  padding-bottom: 44rem;
}
  
.pb-45 {
  padding-bottom: 45rem;
}
  
.pb-46 {
  padding-bottom: 46rem;
}
  
.pb-47 {
  padding-bottom: 47rem;
}
  
.pb-48 {
  padding-bottom: 48rem;
}
  
.pb-49 {
  padding-bottom: 49rem;
}
  
.pb-50 {
  padding-bottom: 50rem;
}
  
.pb-51 {
  padding-bottom: 51rem;
}
  
.pb-52 {
  padding-bottom: 52rem;
}
  
.pb-53 {
  padding-bottom: 53rem;
}
  
.pb-54 {
  padding-bottom: 54rem;
}
  
.pb-55 {
  padding-bottom: 55rem;
}
  
.pb-56 {
  padding-bottom: 56rem;
}
  
.pb-57 {
  padding-bottom: 57rem;
}
  
.pb-58 {
  padding-bottom: 58rem;
}
  
.pb-59 {
  padding-bottom: 59rem;
}
  
.pb-60 {
  padding-bottom: 60rem;
}
  
.pb-61 {
  padding-bottom: 61rem;
}
  
.pb-62 {
  padding-bottom: 62rem;
}
  
.pb-63 {
  padding-bottom: 63rem;
}
  
.pb-64 {
  padding-bottom: 64rem;
}
  
.pb-65 {
  padding-bottom: 65rem;
}
  
.pb-66 {
  padding-bottom: 66rem;
}
  
.pb-67 {
  padding-bottom: 67rem;
}
  
.pb-68 {
  padding-bottom: 68rem;
}
  
.pb-69 {
  padding-bottom: 69rem;
}
  
.pb-70 {
  padding-bottom: 70rem;
}
  
.pb-71 {
  padding-bottom: 71rem;
}
  
.pb-72 {
  padding-bottom: 72rem;
}
  
.pb-73 {
  padding-bottom: 73rem;
}
  
.pb-74 {
  padding-bottom: 74rem;
}
  
.pb-75 {
  padding-bottom: 75rem;
}
  
.pb-76 {
  padding-bottom: 76rem;
}
  
.pb-77 {
  padding-bottom: 77rem;
}
  
.pb-78 {
  padding-bottom: 78rem;
}
  
.pb-79 {
  padding-bottom: 79rem;
}
  
.pb-80 {
  padding-bottom: 80rem;
}
  
.pb-81 {
  padding-bottom: 81rem;
}
  
.pb-82 {
  padding-bottom: 82rem;
}
  
.pb-83 {
  padding-bottom: 83rem;
}
  
.pb-84 {
  padding-bottom: 84rem;
}
  
.pb-85 {
  padding-bottom: 85rem;
}
  
.pb-86 {
  padding-bottom: 86rem;
}
  
.pb-87 {
  padding-bottom: 87rem;
}
  
.pb-88 {
  padding-bottom: 88rem;
}
  
.pb-89 {
  padding-bottom: 89rem;
}
  
.pb-90 {
  padding-bottom: 90rem;
}
  
.pb-91 {
  padding-bottom: 91rem;
}
  
.pb-92 {
  padding-bottom: 92rem;
}
  
.pb-93 {
  padding-bottom: 93rem;
}
  
.pb-94 {
  padding-bottom: 94rem;
}
  
.pb-95 {
  padding-bottom: 95rem;
}
  
.pb-96 {
  padding-bottom: 96rem;
}
  
.pb-97 {
  padding-bottom: 97rem;
}
  
.pb-98 {
  padding-bottom: 98rem;
}
  
.pb-99 {
  padding-bottom: 99rem;
}
  